<div class="container-fluid">
  <div class="cover-bg" [ngStyle]="{'background-image': 'url(assets/images/bim-presentation/bg.png)'}"></div>
  <div class="container">
    <div class="row title mt-4">
      <div class="col-12">
        <h2>¿Qué es la Ruta BIM?</h2>
      </div>
      <div class="col-12 mt-3">
        <div class="custom-line"></div>
      </div>
      <div class="col-12 col-sm-6">
        <p>Es una herramienta de conocimiento cuyo objetivo es identificar el desarrollo de la
          metodología BIM en las organizaciones o equipos de trabajo mediante la evaluación de
          tres componentes: madurez BIM, capacidad BIM y escala organizacional.</p>
      </div>
    </div>
  </div>
</div>