<!-- Start client data bonding modal -->
<app-modal-layout #modalLayout [title]="title">
  <!-- Start body reference -->
  <ng-template #bodyContent>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <iframe height="500" src="https://www.youtube.com/embed/SK_w0gyBcn8?autoplay=1" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
          class="w-100"></iframe>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- End body reference -->
</app-modal-layout>
<!-- End client data bonding modal -->

