<div class="row title">
  <div class="col-12">
    <h2>Hoja de ruta</h2>
  </div>
  <div class="col-12 mt-3">
    <div class="custom-line"></div>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-6">
        <p>La Hoja de Ruta propone un camino detallado para una implementación exitosa de la metodología BIM.
          Se propone hacer uso de este recurso a modo de mapa para guiar la transformación interna de los equipos y las Organizaciones.
          </p>
          <p>
            La hoja de ruta forma parte del BIM Kit desarrollado por BIM Forum Colombia, que comprende una serie de documentos que brindan herramientas al sector para abordar procesos de implementación BIM. En concreto, la hoja de ruta se encuentra desarrollada en la guía #8. Si deseas obtener más información sobre el BIM Kit, puedes acceder a través del botón "Descargar BIM KIT".
          </p>
      </div>
      <div class="col-12 col-md-6 text-center">
        <div class="row">
          <div class="col-12">
            <h4>BIM KIT</h4>
          </div>
          <div class="col-12">
            <!-- <button (click)="downloadBimKit()" class="btn btn-lg btn-primary btn-rounded"><i class="fas fa-cloud-download-alt"></i> Descargar BIM
              KIT</button> -->
            <button class="btn btn-lg btn-primary btn-rounded">
              <a class="text-white" href="https://camacol.co/productividad-sectorial/digitalizacion/bim-forum/bim-kit" target="_BLANK">
                <i class="fas fa-cloud-download-alt"></i> Descargar BIM KIT
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="content-jiraiya col-12">
    <div class="jiraiya">
      <div class="content">
        <div class="row">
          <div class="col-12">
            <h1 class="text-white text-center py-3">RECORRIDO POR LA RUTA</h1>
          </div>
          <div class="col-12 text-center mt-3" (click)="open()">
            <button class="btn btn-lg btn-primary btn-rounded">Iniciar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="w-100">
      <img class="w-100" src="assets/images/road-map/1.png" alt="">
    </div>
  </div>
</div>
