<div class="row border-bottom">
  <div class="col-12">
    <app-public-header></app-public-header>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-breadcrumb [side]="'left'" [title]="false"></app-breadcrumb>
  </div>
</div>

<div class="container pt-5">
  <div class="row">
    <div class="col-auto">
      <button class="btn btn-circle btn-primary" [routerLink]="['/outside-where-are-you']"><i class="fa fa-angle-left"></i></button>
    </div>
    <div class="col-auto">
      <button [routerLink]="['/outside-road-map']" class="btn btn-circle btn-primary"><i class="fa fa-angle-right"></i></button>
    </div>
  </div>
</div>

<div class="container-fluid py-5 mt-3">
  <router-outlet></router-outlet>
</div>

<div class="container pb-5">
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12 text-center mt-3">
      <button [routerLink]="['/outside-where-are-you']" class="btn btn-outline-primary btn-rounded mx-3">Volver</button>
      <button [routerLink]="['/outside-road-map']" class="btn btn-primary btn-rounded">Continuar</button>
    </div>
  </div>
</div>