<div id="content-header" class="w-100 bg-white">
    <app-public-header>
      <li class="nav-item active">
        <button type="button" class="btn btn-link">
          <a [routerLink]="['/landing']" fragment="begin" class="text-primary">Inicio</a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <a [routerLink]="['/landing']" fragment="context" class="text-primary">Contexto</a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-link">
          <a [routerLink]="['/landing']" fragment="who" class="text-primary">¿Para quiénes?</a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn-auth btn waves-effect waves-light btn-rounded btn-outline-primary">
          <a [routerLink]="['/register']">Registro</a>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn-auth btn waves-effect waves-light btn-rounded btn-primary">
          <a [routerLink]="['/login']">Ingresar</a>
        </button>
      </li>
    </app-public-header>
  </div>


    <!-- Start body reference -->
   
      <div class="container-fluid my-2">
        <div class="row my-2">
          <div class="col-12 my-2">
            <iframe height="1450" width="500" src="https://forms.office.com/r/n4CGGB4nfW" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
            class="w-100 "></iframe>
          </div>
        </div>
      </div>

  
  