<!-- Start user dashboard -->
<div class="row">
<div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12">
  <h4 class="page-title text-secondary">Evaluación de ruta BIM</h4>  
</div>
<div *ngIf="!isAdmin" class="col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
    <button (click)="donwload()" class="downloadButton mb-2" style="background-color: #f91031; color: #ffffff; border:solid #f91031; position: relative; top: -40px;">
        Descargar aquí el informe de resultados
       </button>
</div>
</div>

<div class="row" *ngIf="downloadStatus">
<div class="col-12 mb-3" *ngIf="loader">
    <ngb-progressbar type="primary" [value]="(prepare ? 100 : 50)" [striped]="true" height="10px" [animated]="false">
      {{ prepare ? 'Descargando documento...' : 'Procesando las gráficas...' }}
    </ngb-progressbar>
  </div>
</div>

<div *ngIf="!isAdmin" class="row">
    <div class="col-12">
        <div class="row justify-content-center">
           <!--
            <div class="col-12 col-md-4">
                <app-result-category-matrix [resultCategory]="resultCategory"></app-result-category-matrix>
            </div>
        -->
        <div class="col-12 col-md-12">
            
            <app-result-category-matrix [resultCategory]="resultCategory"></app-result-category-matrix>
        </div>
            <div class="col-12 col-md-12">
                <app-result-matrix-chart (dataEvent)="resultMatrixChartEvent($event)"></app-result-matrix-chart>
            </div>
    </div>
    <div class="col-12">
        <app-result-matrix></app-result-matrix>
    </div>
</div>
</div>
<!-- End user dashboard -->

<!-- Start admin dashboard -->
<div *ngIf="isAdmin" class="row">
    <div class="col-12">
        <app-admin-cards [data]="globalCards"></app-admin-cards>
    </div>
    <div class="col-12 mt-3">
        <app-admin-filter [matrixPublishList]="matrixPublishList2" [loader]="loader" (filterEvent)="change($event)"></app-admin-filter>    
    </div>
    <ng-container *ngIf="!loader">
        <div class="col-12">
            <app-admin-cards [data]="cards"></app-admin-cards>
        </div>
        <div class="col-12 mt-3">
            <app-admin-charts [data]="data.charts"></app-admin-charts>
        </div>
        <div class="col-12 mt-3">
            <hr>
        </div>
        <div class="col-12 mt-3">
            <app-admin-result [filters]="filters" [data]="data.result"></app-admin-result>
        </div>
    </ng-container>
</div>
<!-- End admin dashboard -->


