<div class="row title">
  <div class="col-lg-10 col-xl-10 col-sm-12 col-xs-12 col-md-10">
 
      
    <h2>Evaluación de implementación ruta BIM</h2>
    <p>La siguiente autoevaluación le permitirá identificar el nivel de madurez de su organización o equipo de proyecto a través de la evaluación de 3 componentes: Madurez BIM, Capacidad BIM y Escala Organizacional. A continuación, complete los 
      siguientes campos con la información que mejor se ajuste a su organización.</p>
  </div>

  <div class="col-lg-2 col-xl-2 col-sm-12 col-xs-12 col-md-2">
    <p class="text-justify instructive">
      <i class="fa fa-check-circle success"></i> Significa que está seleccionado.
    </p>
    <p class="text-justify instructive">
      <i class="fa fa-check-circle gray"></i> Significa no está seleccionado.
    </p>
  </div>

  <div *ngIf="knowledge == 1; else two;" >
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="w-100">
        <div class="card custom-card pointer border border-primary" >
          <div class="card-header headerTitle">
            <i class="fa fa-lock"></i> No sé qué es BIM
          </div>
          <div class="card-body ">
            <p class="paragraph">
              No poseo conocimientos acerca de la metodología.
            </p>
          </div>
        </div>
      </div>
    </div>
     </div>
     <ng-template #two>
      <div *ngIf="knowledge == 2; else three;">
        <div class="col-lg-4 col-sm-12 col-md-12">
        <div class="w-100">
          <div class="card custom-card pointer border border-primary" >
            <div class="card-header headerTitle">
              <i class="fa fa-lock"></i> Planeo implementar BIM
            </div>
            <div class="card-body">
              <p class="paragraph">
                Planeo implementar BIM dentro de mi organización a corto o mediano plazo, sin embargo actualmente estamos en proceso de estructuración o empezando.
              </p>
            </div>
          </div>
        </div>
        </div>
        
        </div>
  
        <ng-template #three >
           <div *ngIf="knowledge == 3;">
            <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="w-100">
              <div class="card custom-card pointer border border-primary">
                <div class="card-header headerTitle">
                  <i class="fa fa-lock"></i> Ya tengo procesos BIM
                </div>
                <div class="card-body">
                  <p class="paragraph">
                    Actualmente cuento con algunos procesos, ya tenemos un equipo de responsables BIM y trabajamos permanentemente en adecuar nuestros procesos.
                  </p>
                </div>
              </div>
            </div>
            </div>
      </div>
        </ng-template>
      </ng-template>

  <div class="col-12 mt-3">
    <div class="custom-line">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="!loaded || finishing">
    <ngb-progressbar type="primary" [value]="100" [striped]="true" height="10px" [animated]="true"></ngb-progressbar>
  </div>
  <ng-container *ngIf="loaded">
    <div class="col-12">
      <app-groups></app-groups>
    </div>
    <ng-container *ngIf="maturityMatrix?.canEdit">
      <div class="col-12">
        <hr>
      </div>
      <div class="col-12 text-center">
        <button (click)="finish()" class="btn btn-primary btn-rounded"
        [disabled]="!maturityMatrix?.form?.valid">Finalizar</button>
      </div>
      <div class="col-12 mt-3" [hidden]="maturityMatrix?.form?.valid">
        <div class="alert alert-warning" role="alert">
          Aun faltan campos por diligenciar.
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

