.card {
  &.custom-card {
    min-height: 281px;
    &.active {
      box-shadow: 5px 8px 10px rgba(59, 59, 158, 0.4);
      .card-header {
        background-color: var(--white);
        color: var(--primary);
      }

      .card-body {
        background-color: var(--primary);
        p {
          color: var(--white);
           
        }
      }
    }
  }

  .card-header {
    font-weight: 600;
    font-size: 18px;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
  }

  .card-body {
    background-color: var(--white);
    display: flex;
    align-items: center;
    
    p {
      font-weight: 500;
      font-size: 15px;
      text-align: justify;
      
    }
  }

  @media (max-width: 576px) {
    &.custom-card {
      min-height: 281px;
    }
  }
}



