<div id="content-header" class="w-100">
  <app-public-header></app-public-header>
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [side]="'left'" [title]="false"></app-breadcrumb>
    </div>
  </div>
</div>
<div class="cover-bg">
  <div class="row h-100">
    <div class="col bg-a bg-white"></div>
    <div class="col bg-b bg-primary d-none d-lg-flex"></div>
  </div>
</div>
<div class="row content-box">
  <div class="col-12 text-center">
    <div class="box mt-5 p-5">
      <h3 class="font-medium m-b-20 text-center"><strong>Pendiente de verificación</strong></h3>
      <p>Hemos enviado un correo {{email}} con un enlace de activación. Por favor diríjase al correo inscrito
        y verifique su bandeja de entrada y/o carpeta de correo no deseado. Haga clic en el
        enlace para finalizar su registro. Gracias.</p>
      <button type="button" class="btn waves-effect waves-light btn-rounded btn-primary mt-3" (click)="logOut()">Cerrar
        sesión</button>
    </div>
  </div>
</div>
