<div id="content-header" class="w-100">
  <app-public-header></app-public-header>
  <div class="row">
    <div class="col-12">
      <app-breadcrumb [side]="'left'" [title]="false"></app-breadcrumb>
    </div>
  </div>
</div>

<div class="auth-wrapper d-flex no-block justify-content-center align-items-center h-100">
  <div class="cover-bg">
    <div class="row h-100">
      <div class="col bg-a bg-white"></div>
      <div class="col bg-b bg-primary d-none d-lg-flex"></div>
    </div>
  </div>
  <div class="auth-box">
    <!-- Start recover -->
    <div id="recoverForm" class="mt-5">
      <div class="logo">
        <h3 class="font-medium m-b-20"><strong>Recuperar contraseña</strong></h3>
      </div>
      <!-- Form -->
      <div class="row px-4">
        <div class="col-12">
          <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal m-t-20" id="recoverForm">
            <div class="input-group mb-3">
              <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" formControlName="password" placeholder="Contraseña" aria-label="Password"
                aria-describedby="basic-addon1">
              <div class="input-group-append pointer" (click)="changeShowPassword()">
                  <span class="input-group-text"><i class="fa fa-eye" [ngClass]="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i></span>
              </div>
              <app-control-message-input [control]="form.controls.password" [configMessages]="controlField?.messages?.password"></app-control-message-input>
            </div>
            <div class="form-group text-center">
              <div class="col-xs-12 p-b-20">
                <button type="submit" [disabled]="!form.valid || loader" class="btn btn-block waves-effect waves-light btn-rounded btn-primary">Restablecer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- End recover -->
  </div>
</div>
