<div class="row title mt-5">
  <div class="col-12 col-md-5">
    <div class="row">
      <div class="col-12">
        <h2>Antes de empezar</h2>
      </div>
      <div class="col-12 mt-3">
        <div class="custom-line"></div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12">
            <ul>
              <li class="mb-3">
                Prepárese e identifique la persona idónea para dirigir la autoevaluación.
              </li>
              <li class="mb-3">
                Reserve un espacio de 60 a 90 minutos para completar el ejercicio. Si no se
                dispone de ese tiempo la herramienta permite guardar sesión y continuar en el
                momento que desee.
              </li>
              <li class="mb-3">
                Realice la autoevaluación de forma grupal y discuta las opciones antes de
                seleccionar una respuesta.
              </li>
              <li class="mb-3">
                Por favor, tenga en cuenta que una vez complete la matriz y haga clic en "Finalizar", no podrá modificar sus respuestas hasta transcurridos 6 meses.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-7 text-center">
    <iframe height="415" src="https://www.youtube.com/embed/HeSruJVbMok" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
      class="w-100"></iframe>
  </div>
</div>