<!-- <div class="row pt-3">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">Con el apoyo de</h3>
        </div>
        <div class="col-12">
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center pb-5">
  <div class="col-6 col-sm-auto text-center">
    <div class="ally p-2">
      <img src="./assets/images/landing/embajada-suiza.jpg" alt="">
    </div>
  </div>
  <div class="col-6 col-sm-auto text-center">
    <div class="ally p-2">
      <img src="./assets/images/landing/colombia-competitiva.jpg" alt="">
    </div>
  </div>
  <div class="col-6 col-sm-auto text-center">
    <div class="ally p-2">
      <img src="./assets/images/landing/swiss-contact.jpg" alt="">
    </div>
  </div>
  <div class="col-6 col-sm-auto text-center">
    <div class="ally p-2">
      <img src="./assets/images/landing/innpulsa.jpg" alt="">
    </div>
  </div>
</div>
<div class="row bg-primary">
  <div class="col-12">
    <footer>
      <div class="row h-100 align-items-center">
        <div class="col-11">
          <p class="pl-5 text-white">© Todos los derechos reservados <a href="https://camacol.co/" target="_BLANK">CAMACOL</a> 2020, Diseñado y desarrollado por <a href="https://tdclab.com/" target="_BLANK">TDCLAB</a></p>
        </div>
        <div class="col-1">
          <a href="mailto:bimforumcolombia@camacol.org.co" placement="top" ngbTooltip="Si tiene alguna duda o necesita ayuda para diligenciar la matriz, por favor contáctenos">
            <i class="fa fa-2x fa-envelope text-white pointer"></i>
          </a>
        </div>
      </div>
    </footer>
  </div>
</div> -->

 <!-- Footer Start -->
  
 <footer>
  <div class="container">
      <div class="row wow fadeInUp" data-wow-delay="300">
          <div class="col-md">
              <div class="footer_social_icons">
                  <p class="text-center">© Todos los derechos reservados CAMACOL 2024, Diseñado y desarrollado por
                      <a class="web-link" href="http://www.tdclab.com/" target="_blank">TDCLAB </a>
                  </p>
              </div>
          </div>
      </div>
  </div>




      <a href="#" class="btn-flotante fa fa-info"></a> 

      <a href="#" class="btn-flotante1 fa fa-question"></a> 


</footer> 